vendor
node_modules
public/build
bootstrap/cache
.git
.github
storage/logs
storage/framework/sessions
storage/framework/cache
storage/framework/views
.env
.env.*
!.env.example
*.log
npm-debug.log*
.DS_Store
Thumbs.db
tests
phpunit.xml
.phpunit.cache
docker-compose.override.yml
